<div class="footer">
  <ul>
    <a href="#"><li>Help center</li></a>
    <a href="#"><li>About us</li></a>
  </ul>
  <div class="links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Copyright @Amazing Rentals</p>
  </div>
</div>
