<div class="sidebar text-white">
  <h1 class="text-white">Hey <%= current_user.first_name %></h1>
  <span><%= link_to "My cars", dashboard_cars_path, class:"text-white" %></span>
  <span> <strong> <%= link_to "My bookings", dashboard_bookings_path, class:"text-white" %></strong></span>
</div>
