<div class="sidebar">
  <h1>Hey <%= current_user.first_name %></h1>
  <span> <strong><%= link_to "My cars", dashboard_cars_path %></strong> </span>
  <span><%= link_to "My bookings", dashboard_bookings_path %></span>
</div>
