<div class="sidebar">
  <h1>Hey <%= current_user.first_name %></h1>
  <span><%= link_to "My cars", dashboard_cars_path %></span>
  <span> <strong> <%= link_to "My bookings", dashboard_bookings_path %></strong></span>
</div>
