.btn-yours {
  background-color:#286cc5;
  color: white;
  padding: 15px 25px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0,9;
  text-decoration: none;


  &:hover {
  transition: ease-in-out all .15s;
  background-color:#575F7D;
  color: white;
  text-decoration: none;
  opacity: 1;
  }
}
