.btn-home {
  background-color: $blue;
  color: white;
  padding: 15px 25px;
  border-radius: 50px;
  font-weight: 300;
  // opacity: 0.9;
  text-decoration: none;


  &:hover {
  transition: ease-in-out all .15s;
  background-color:#0f6fec;
  color: white;
  text-decoration: none;
  opacity: 1;
  }
}
