
.footer {
  margin: 1.6rem 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  text-decoration: none;
  // position: absolute;
  // bottom: -300px;
  left: calc(50% - 130px);

  ul{
    padding: 0;
    margin-bottom: 1rem;
    li{
      display: inline;
      padding: 0 20px;
    }
  }


  .links{
    margin-bottom: 1rem;
    a {
    color: black;
    opacity: 0.8;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 20px;
    margin-bottom: 1rem;
    }
    &:hover{
    opacity: 1;
    }
  }
  .footer-copyright {
    font-size: 10px;
  }
}
