.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1000;


  .navbar-collapse {
  flex-grow: 0;
  }

  .navbar-brand img {
  height: 40px;
  }
}

.nav-link {
  display: inline;
}
