// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



li {
  list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Quicksand:wght@300&display=swap');

body {
  background: #F7F9FC;
  color: #575F7D;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: lighter
}
  h1 {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 15px;
  }
