// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Quicksand:wght@300&display=swap');

li {
  list-style: none;
}

body {
  background: white;
  color: #575F7D;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  color: #575F7D;
}

a{
  color:#575F7D;
  text-decoration:none;
}
